Package: mint-common
Version: 1.0.4
Architecture: all
Maintainer: Clement Lefebvre <root@linuxmint.com>
Installed-Size: 228
Depends: python (>= 2.4), python (<< 3), python-gtk2, python-glade2
Section: admin
Priority: optional
Description: Common scripts and resources for Linux Mint
 A collection of scripts and resources used by other Linux Mint packages
