Source: mint-common
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 3.9.5

Package: mint-common
Architecture: all
Depends: python3,
         python3-aptdaemon,
         python3-aptdaemon.gtk3widgets,
         python3-gi,
         python3-html2text,
         gir1.2-gtk-3.0,
         gir1.2-xapp-1.0,
         gir1.2-xmlb-2.0,
         mint-translations,
         libgtk3-perl
         ${misc:Depends},
Description: Common scripts and resources for Linux Mint
 A collection of scripts and resources used by other Linux Mint packages
