polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.Flatpak.metadata-update" ||
         action.id == "org.freedesktop.Flatpak.appstream-update") {
            return polkit.Result.YES;
    }

    return polkit.Result.NOT_HANDLED;
});